/*/////////// movie styles////////// */
:root {
  --alpha-color: #880d1e;
  --beta-color: #de2c2c;
  --gamma-color: #0d0d0d;
  --text-color: rgb(233, 224, 224);
}
.main-movie{
  gap: 2em;
}
.movie-carousel {
  display: flex;
  margin: 2em .8em;
  gap: .8em;
  max-width: clamp(200px,50dvw,88dvw);
  justify-content: start;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: x mandatory;
}
.movie-card {
  scroll-snap-align: start;
  align-content: center;
  padding-bottom: 1em;
}
.movie-titel {
  position: absolute;
}
/*/////////// scrollbar styles////////// */
::-webkit-scrollbar{
  height: .6em;
}
::-webkit-scrollbar-track {
  background-color: rgba(60, 60, 60, 0.3);
  border-radius: 2em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--beta-color);
  border-radius: 2em;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(222, 44, 44, 0.5);
}
